<% if !@form.name[0].nil? %>
  <h1>List form</h1>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>date</th>
      <th>content</th>
      <th>income</th>
    </tr>
  
    <% @form.each do |form| %>
      <tr>
        <td><%= form.id %></td>
        <td><%= form.name %></td>
        <td><%= form.date %></td>
        <td><%= form.content %></td>
        <td><%= form.income %></td>
      </tr>
    <% end %>
  </table>
<% end %> 
<p>
  <%= link_to 'add', new_form_url %>
</p>
<p>
  <%= link_to 'Home', welcome_path, method: :get %>
<p>